@import "tailwindcss";
#lines-group {
  overflow: scroll;
}
#lines-group::-webkit-scrollbar {
  display: none;
}
#lines-group {
  width: 100vw; /* viewport width */
  max-width: 100%;
  overflow-x: auto; /* allow horizontal scroll inside if needed */
  overflow-y: auto; /* allow vertical scroll */
  box-sizing: border-box;
}
#lines-group img {
  max-width: 100%;
  height: auto;
  display: block;
}
html,body{
overflow-x: hidden;
}
.img1 {
  animation: upDown 4s ease-in-out infinite;
}
@keyframes upDown {
  0%, 100% {
      transform: translateY(0);
    }
      50% {
        transform: translateY(-20px); /* Move up */
      }
    }
#grid-container{
  grid-auto-rows: 96px;
}

.img2 {
  animation: none;
}
@keyframes upDown {
  0%, 100% {
      transform: translateY(0);
    }
      50% {
        transform: translateY(-25px); /* Move up */
      }
    }

@media (min-width: 1024px) {
  .img2 {
    animation: upDown 6s ease-in-out infinite;
  }
}
.box2 {
  animation: none;
}
@keyframes upDown {
  0%, 100% {
      transform: translateY(0);
    }
      50% {
        transform: translateY(-10px); /* Move up */
      }
    }

@media (min-width: 1024px) {
  .box2 {
    animation: upDown 4s ease-in-out infinite;
  }
} 
